<mat-toolbar color="primary" class="full-width-toolbar" *ngIf="!isLoginRoute()">
  <!-- Botón menú -->
  <button mat-icon-button class="menu-btn" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/images/inve.png" alt="Logo JKC" class="logo-jkc" />
  </div>

  <!-- Buscador centrado -->
  <div class="center-container">
    <div class="search-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Buscar..." />
    </div>
  </div>

  <!-- Botones -->
  <div class="nav-buttons">
    <button class="nav-btn" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button class="nav-btn" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>Acerca de</span>
    </button>
    <button class="nav-btn" routerLink="/contact">
      <mat-icon>mail</mat-icon>
      <span>Contacto</span>
    </button>
  </div>

  <!-- Icono usuario -->
  <button mat-icon-button aria-label="Cuenta" routerLink="/login" class="account-btn">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<!-- Contenedor lateral -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isExpanded ? 'side' : 'over'"
    [(opened)]="isExpanded"
    [style.width.px]="isExpanded ? 200 : 60"
    class="sidenav">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="isExpanded">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="footer" *ngIf="!isLoginRoute()">
  <span>© 2023 JKC. Todos los derechos reservados.</span> -->
