// /* Estilo para el contenedor principal */
// .sidenav-container {
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
// }

// /* Hace que el navbar esté fijo arriba */
// app-navbar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1000;
// }

// /* Contenido con margen para que no se superponga con el navbar */
// .content-container {
//   margin-top: 64px; /* Ajusta según el tamaño del navbar */
//   padding: 16px;
//   flex: 1;  /* Para que ocupe el resto del espacio */
// }

// /* Ajustes para pantallas pequeñas */
// @media (max-width: 768px) {
//   .sidenav-container {
//     flex-direction: column;
//   }
// }

.sidenav-container {
  display: flex;
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease;
}

.sidenav .logo {
  padding: 20px;
  text-align: center;
}

.sidenav .logo img {
  width: 50%;
  height: auto;
}

mat-nav-list a {
  display: flex;
  align-items: center;
}

mat-nav-list a mat-icon {
  margin-right: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

button[mat-icon-button] {
  margin-bottom: 10px;
}

button[mat-icon-button] mat-icon {
  color: #333;
}

