.d-flex {
  display: flex;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    margin: top 0;
  }

h2 {
  margin-bottom: 16px;
  color: #ffffff;
}

.card {
  margin-bottom: 24px;
}

.form-label {
  font-weight: bold;
}

select.form-select,
input.form-control {
  cursor: pointer;
}

.table {
  margin-top: 16px;

  th,
  td {
    vertical-align: middle;
  }
}

.boton-asignar {
  margin-top: 16px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  width: 40%;
  font-size: 16px;
}

.btn-sm {
  font-size: 14px;
  padding: 6px 12px;
}
