.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: top 0;
  }

  .card-header {
  background-color: #000000 !important; /* Fondo negro */
  color: white !important;              /* Texto blanco */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
