<div class="d-flex registro-wrapper">
  <app-sidebar></app-sidebar>

  <div class="container mt-5">
    <div class="card registro-card shadow animate__animated animate__fadeIn">
      <div class="card-header text-white text-center">
        <h3 class="mb-0">
          <i class="fa-solid fa-user-plus me-2"></i> Registro de Usuarios
        </h3>
      </div>

      <div class="card-body px-4 py-4">
        <form [formGroup]="usuarioForm" (ngSubmit)="registerSubmited()" novalidate>

          <input type="hidden" id="idTercero" formControlName="idTercero" />
          <input type="hidden" id="idUsuario" formControlName="idUsuario" />

          <div class="row g-4">
            <!-- Información del Usuario (Solo Lectura) -->
            <div class="row g-3">
              <div class="col-md-6">
                <label for="nombrecompleto" class="form-label fw-semibold">Nombre Completo</label>
                <input id="nombrecompleto" type="text" class="form-control" formControlName="nombrecompleto" readonly>
              </div>
            </div>

            <div class="row g-3">
              <div class="col-md-5">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input id="correo" type="email" class="form-control" formControlName="correo" readonly>
              </div>

              <div class="col-md-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input id="telefono" type="text" class="form-control" formControlName="telefono" readonly>
              </div>
            </div>


            <!-- Rol -->
            <div class="row g-3">
              <div class="col-md-5">
                <label for="rol" class="form-label">Rol</label>
                <select class="form-select" formControlName="idRol">
                  <option value="" disabled selected>-- Seleccione un rol --</option>
                  <option *ngFor="let rol of roles" [value]="rol.codigo">
                    {{ rol.valor }}
                  </option>
                </select>
                <small class="text-danger" *ngIf="f['idRol'].touched && f['idRol'].errors?.['required']">
                  Campo requerido
                </small>
              </div>

              <div class="col-md-3">
                <label for="codUsuario" class="form-label">Código Usuario</label>
                <input id="codUsuario" type="text" class="form-control" formControlName="codUsuario">
              </div>
            </div>

            <!-- Contraseña -->
            <div class="row g-3">
              <div class="col-md-4">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input id="contrasena" type="password" class="form-control" formControlName="contrasena"
                  placeholder="********">
                <small class="text-danger" *ngIf="f['contrasena'].touched && f['contrasena'].errors?.['required']">
                  Campo requerido
                </small>
                <small class="text-danger" *ngIf="f['contrasena'].touched && f['contrasena'].errors?.['minlength']">
                  Mínimo 6 caracteres
                </small>
                <small class="text-danger" *ngIf="f['contrasena'].touched && f['contrasena'].errors?.['maxlength']">
                  Máximo 15 caracteres
                </small>
              </div>

              <div class="col-md-4">
                <label for="confirmarcontrasena" class="form-label">Confirmar Contraseña</label>
                <input id="confirmarcontrasena" type="password" class="form-control"
                  formControlName="confirmarcontrasena" placeholder="********">
                <small class="text-danger" *ngIf="
                  f['confirmarcontrasena'].hasError('noIguales') &&
                  (f['confirmarcontrasena'].dirty || f['confirmarcontrasena'].touched) &&
                  f['contrasena'].value && f['confirmarcontrasena'].value">
                  Las contraseñas no coinciden.
                </small>
              </div>
            </div>

            <!-- Estado -->
            <div class="row g-3">
              <div class="col-lg-4 d-flex align-items-center">
                <div class="form-check form-switch form-check-lg ms-lg-4">
                  <input id="idEstado" type="checkbox" class="form-check-input"
                    [checked]="usuarioForm.value.idEstado === 1" (change)="onEstadoToggle($event)">
                  <label class="form-check-label fw-bold" for="idEstado">
                    <i class="fa-solid fa-power-off me-1"></i>Estado Usuario
                  </label>
                </div>
              </div>
            </div>

            <!-- Botón -->
            <div class="row g-3">
              <div class="col-5 mt-3 mx-auto">
                <button type="submit" class="btn btn-success w-100"
                  [disabled]="!usuarioForm.valid || f['contrasena'].value !== f['confirmarcontrasena'].value">
                  <i class="fas fa-user-plus me-2"></i>
                  {{ usuarioForm.value.idUsuario ? 'Actualizar Usuario' : 'Crear Usuario' }}
                </button>
              </div>
            </div>
          </div>
        </form>

        <!-- Tabla de usuarios -->
        <app-tabla-usuarios class="mt-4" [usuarios]="usuarios"
          (editarUsuario)="llenarCamposFormulario($event.idTercero!)"
          (eliminarUsuario)="eliminarUsuario($event.idTercero!)">
        </app-tabla-usuarios>
      </div>
    </div>
  </div>
</div>