
form {
  width: 500px; /* Reducimos un poco el ancho */
  border: 2px solid #ccc; /* Agregamos un borde al formulario */
  padding: 10px; /* Agregamos un relleno interno */
  border-radius: 10px; /* Agregamos esquinas redondeadas */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}