<div class="container d-flex justify-content-center align-items-center vh-100">
        
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()">
            <div class="row">
                <h3 class="col-11 text-center p-2 mb-3 bg-light mx-auto">Regístrate</h3>
            </div>

            <p class="text-center fs-4" [ngClass]="{
                'text-success': isAccountCreated,
                'text-danger': !isAccountCreated
            }">
                {{displayMsg}}
            </p>

            <div class="row">
                <div class="col mb-3">
                    <label for="firstname" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Ingresa Nombre" formControlName="firstname">
                    
                    <div class="form-text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
                        Nombres requeridos
                    </div>
                    <div class="form-text text-danger" *ngIf="FirstName.errors?.['minlength'] && (FirstName.touched || FirstName.dirty)">
                        El nombre debe tener como minimos dos letras
                    </div>
                    <div class="form-text text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">
                        El nombre sólo debe tener letras
                    </div>
                </div>

                <div class="col mb-3">
                    <label for="lastname" class="form-label">Apellidos</label>

                    <input type="text" class="form-control" id="lastname" placeholder="Ingresa Apellido" formControlName="lastname">

                    <div class="form-text text-danger" *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">
                        Apellidos requeridos
                    </div>
                    <div class="form-text text-danger" *ngIf="LastName.errors?.['minlength'] && (LastName.touched || LastName.dirty)">
                        Los Apellidos deben tener como minimos dos letras
                    </div>
                    <div class="form-text text-danger" *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)">
                        Los Apellidos sólo debe tener letras
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="email">Correo Electrónico</label>
                    <input type="text" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" formControlName="email">

                    <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                        Correo Requerido
                    </div>

                    <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                        El correo no es valido
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="mobile" class="form-label">Número Celular</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Ingresa Celular" formControlName="mobile">
                    <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
                       Número Requerido
                    </div>
                    <div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched || Mobile.dirty)">
                       No puedes tener menos de 10 números
                    </div>

                    <div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched || Mobile.dirty)">
                        No puedes tener más de 10 números
                    </div>
                    <div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched || Mobile.dirty)">
                       Sólo puedes incluir números
                    </div>
                </div>
                <div class="col ps-3 mb-3">
                    <div class="m-1">Sexo</div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" value="m" id="gender-m" formControlName="gender">
                        <label class="form-check-label" for="gender-m">Hombre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" value="f" id="gender-f" formControlName="gender">
                        <label class="form-check-label" for="gender-f">Mujer</label>
                    </div>
                    <div class="form-text text-danger" *ngIf="Gender.errors?.['required']">
                       Selecciona Sexo
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" formControlName="password">
                    <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
                        Contraseña Requerida
                     </div>
                     <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
                        La contraseña debe tener minimo 6 caracteres y maximo 15
                     </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmpassword">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirma tu contraseña" formControlName="confirmpassword">
                    <div class="form-text text-danger" [ngStyle]="{'display' : repeatPass} ">
                        Contraseñas no coinciden
                     </div>
                </div>
            </div>

            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary w-100 mt-3">Registrarse</button>

            <div class="text-center mt-2">
                <a [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
        </form>
    </div> 
