.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.content {
  padding: 16px;
}

@media (max-width: 768px) {
  .sidenav {
    width: 200px; /* Reduce el ancho en pantallas pequeñas */
  }

  .content {
    padding: 8px; /* Reduce el padding en pantallas pequeñas */
  }
}
