<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="true">
    <mat-toolbar>Sidenav</mat-toolbar>
    <mat-nav-list>
      <mat-list-item>Menu Item 1</mat-list-item>
      <mat-list-item>Menu Item 2</mat-list-item>
      <mat-list-item>Menu Item 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span>Angular Material Sidenav</span> -->
    </mat-toolbar>
    <div class="content">
      <!-- <p>Main content goes here.</p> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
