

<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header bg-dark text-white text-center">
        <h2>categorias</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="categoriasForm" (ngSubmit)="agregarCategoria()">
          <div class="row">
            <ul class="lista-categorias">
              <li *ngFor="let categoria of categorias">
                <span>{{ categoria.nombre }}</span>
                <div>
                  <button class="editar" (click)="editarCategoria(categoria.id)">Editar</button>
                  <button class="eliminar" (click)="eliminarCategoria(categoria.id)">Eliminar</button>
                </div>
              </li>
            </ul>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
   

