<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header bg-dark text-white text-center">
        <h2>Gestión de Categorías</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="categoriaForm" (ngSubmit)="registrarCategoria()">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label fw-bold">Código de Categoría</label>
              <input type="text" class="form-control" formControlName="codigo" placeholder="Ej. RO001TEX" />
              <div *ngIf="f['codigo'].touched && f['codigo'].invalid" class="text-danger small">
                Debe tener entre 6 y 10 caracteres.
              </div>
            </div>

            <div class="col-md-5 mb-3">
              <label class="form-label fw-bold">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion" />
              <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="text-danger small">
                Campo obligatorio.
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label fw-bold">Estado</label>
              <select class="form-select" formControlName="estado">
                <option value="ACTIVO">Activo</option>
                <option value="INACTIVO">Inactivo</option>
              </select>
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="categoriaForm.invalid">
              Registrar Categoría
            </button>
          </div>
        </form>
      </div>

      <div class="container mt-5">
        <div class="card shadow-lg">
          <div class="card-body">
            <label class="col-sm-2">Categorías registradas:</label>
            <div class="table-responsive">
              <table datatable class="table table-bordered table-hover table-striped text-center" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead class="table-dark">
                  <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of categorias; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ cat.codigo }}</td>
                    <td>{{ cat.descripcion }}</td>
                    <td>{{ cat.estado }}</td>
                  </tr>
                  <tr *ngIf="categorias.length === 0">
                    <td colspan="4">No hay categorías registradas.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>