<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header bg-dark text-white text-center">
        <h2>Registro de Productos</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <input type="hidden" id="IdProducto" formControlName="IdProducto" />

            <!-- Nombre del Producto -->
            <div class="col-md-4 mb-3">
              <label for="NomProducto" class="form-label fw-bold">Nombre del Producto</label>
              <input type="text" id="NomProducto" class="form-control" formControlName="NomProducto"
                placeholder="Ingrese el nombre del producto" required />
              <div *ngIf="f['NomProducto'].touched && f['NomProducto'].invalid" class="text-danger small">
                El nombre del producto es obligatorio.
              </div>
            </div>

            <!-- Código EAN -->
            <div class="col-md-4 mb-3">
              <label for="CodEan" class="form-label fw-bold">Código EAN</label>
              <input type="text" id="CodEan" class="form-control" formControlName="CodEan" readonly />
            </div>
            <!-- Código de Barras SVG -->
            <div class="col-md-4 mb-3 d-flex align-items-end justify-content-center ">
              <div class="text-center" [hidden]="!CodEanVisible">
                <label class="form-label fw-bold">Visualización Código</label>
                <svg id="barcode"></svg>
              </div>
            </div>
          </div>


          <div class="row">
            <!-- Categoría -->



            <div class="col-md-3 mb-3">
              <label for="IdCategoria" class="form-label fw-bold">Categoría</label>
              <select id="IdCategoria" class="form-select" formControlName="IdCategoria" required>
                <option value="" disabled selected>Seleccione una categoría</option>
                <option *ngFor="let cat of IdCategoria" [ngValue]="cat">{{ cat }}</option>
              </select>
              <div *ngIf="f['IdCategoria'].touched && f['IdCategoria'].invalid" class="text-danger small">
                La categoría es obligatoria.
              </div>
            </div>

            <!-- Ubicación -->
            <div class="col-md-4 mb-3">
              <label for="UbicacionProducto" class="form-label fw-bold">Ubicación</label>
              <input type="text" id="UbicacionProducto" class="form-control" formControlName="UbicacionProducto"
                placeholder="Ingrese la ubicación del producto" required />
              <div *ngIf="f['UbicacionProducto'].touched && f['UbicacionProducto'].invalid" class="text-danger small">
                Campo obligatorio.
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Cantidad -->
            <div class="col-md-6 mb-3">
              <label for="Cantidad" class="form-label fw-bold">Cantidad</label>
              <input type="number" id="Cantidad" class="form-control" formControlName="Cantidad"
                placeholder="Ingrese la Cantidad" required />
              <div *ngIf="f['Cantidad'].touched && f['Cantidad'].invalid" class="text-danger small">
                La Cantidad debe ser al menos 1.
              </div>
            </div>

          </div>
   
          
          <div class="row">
            <div class="col-md-12">
              <label for="Observacion" class="form-label fw-bold">Observación</label>
              <input type="text" id="Observacion" class="form-control" formControlName="Observacion"
                placeholder="Ingresa una observación" required />
              <div *ngIf="f['Observacion'].touched && f['Observacion'].invalid" class="text-danger small">
              </div>
            </div>
          </div>

          <!-- Botón de envío -->
          <div class="row">
            <div class="col-5 mt-3 mx-auto">
              <button type="submit" class="btn btn-success w-100" [disabled]="!productoForm.valid">

                <i class="fas fa-user-plus me-2"></i>
                {{ f['IdProducto'].value ? 'Actualizar Producto' : 'Crear Producto' }}
              </button>
            </div>
          </div>
        </form>

      <div class="row"> 
        <app-tabla-productos class="mt-4" [productos]="productos"
          (editarProducto)="llenarCamposFormulario($event.idProducto!)"
          (eliminarProducto)="onEliminar($event)"></app-tabla-productos>
      </div>

    </div>

  </div>
</div>