<div class="bg-auth">
  <div class="card-auth">
    
    <!-- Logo -->
    <img src="/assets/images/inve.png" alt="Logo JKC Inventory" class="logo-auth" />

    <!-- Título -->
    <h4 class="text-center mb-2 fw-bold">Recuperar Contraseña</h4>
    <p class="text-center small">
      Ingresa tu correo electrónico para recibir el link de recuperación.
    </p>

    <!-- Formulario -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email"
               id="email"
               class="form-control"
               placeholder="ejemplo@correo.com"
               formControlName="email"
               required />

        <!-- Errores -->
        <div class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
          El email es obligatorio
        </div>
        <div class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
          Por favor, introduce un email válido
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100" [disabled]="forgotPasswordForm.invalid">
        <i class="fas fa-paper-plane me-2"></i> Enviar link
      </button>
    </form>

    <!-- Volver -->
    <div class="text-center mt-3">
      <a [routerLink]="['/acceso']" class="small">
        <i class="fas fa-arrow-left me-1"></i> Volver al login
      </a>
    </div>

  </div>
</div>
