<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-bold text-gray-900">
        ¿Olvidaste tu Contraseña?
      </h2>
      <p class="mt-2 text-sm text-gray-600">
        Ingresa tu email para restablecerla.
      </p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email" class="sr-only">Correo Electrónico</label>
          <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
            class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Correo Electrónico" />
        </div>
      </div>
      <!-- Manejo de errores de validación -->
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
        class="text-red-600 text-xs mt-1">
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">El email es obligatorio.</span>
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Por favor, introduce un email válido.</span>
      </div>
      <div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid"
          class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Enviar link de recuperación
        </button>
      </div>
    </form>
    <div class="text-center">
      <a [routerLink]="['/acceso']" class="text-blue-600 hover:underline">Volver al login</a>
    </div>
  </div>
</div>