/* Fondo con imagen */
.bg-auth {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/prueba.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta de recuperación */
.card-auth {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.28); /* translúcido */
  border-radius: 15px;
  padding: 30px;
  color: white; /* texto blanco */
  animation: fadeInUp 1s ease-in-out;
}

/* Logo */
.logo-auth {
  width: 120px;
  display: block;
  margin: 0 auto 20px;
  filter: drop-shadow(0 0 10px #ffffff);
}

/* Botón estilo login */
.btn-success {
  background-color: #00bfff;
  border: none;
}

.btn-success:hover {
  background-color: #009acd;
}

/* Enlace */
a {
  color: #00dfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
