<div class="container mt-4">

  <div class="card">
    <div class="card-header text-center">
      <h2>Registro de Productos</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-4">
        <div class="col mb-3">
          <label for="codReferencia" class="form-label">Código Referencia</label>
          <input type="text" id="codReferencia" class="form-control" formControlName="codReferencia" required readonly>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4">
        <div class="col mb-3">
          <label for="productName" class="form-label">Nombre del Producto</label>
          <input type="text" id="productName" class="form-control" formControlName="productName" placeholder="Ingrese el nombre del producto" required>

          <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
              El nombre del producto es obligatorio.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col mb-3">
            <label for="category" class="form-label">Categoria</label>
            <select id="category" class="form-control" formControlName="category" required>
                <option value="">Seleccione una categoría</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="text-danger">
              La categoría es obligatoria.
          </div>
      </div>
    </div>
  </div>

      <div class="row">
          <div class="col-md-4">
            <div class="col mb-3">
              <div class="form-group mb-3">
                <label for="quantity">Cantidad</label>
                <input type="number" id="quantity" class="form-control" formControlName="quantity" placeholder="Ingrese la cantidad" required>
                <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched" class="text-danger">
                  La cantidad debe ser al menos 1.
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="col mb-3">
            <div class="form-group mb-3">
              <label for="ubicacion">Ubicación</label>
              <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" placeholder="Ingresa la ubicación del producto" required>
            </div>
          </div>
      </div>
      </div>
    

        
        <div class="form-group mb-3">
          <label for="price">Precio</label>
          <input type="number" id="price" class="form-control" formControlName="price" placeholder="Ingrese el precio" required>
          <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
            El precio debe ser mayor a 0.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="productForm.invalid">Agregar Producto</button>
      </form>
    </div>
  </div>
</div>
