<!-- <mat-toolbar  class="full-width-toolbar">
  <span class="app-title">JKC_Inventory</span>
  <span class="example-spacer"></span>

  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" placeholder="Escribe para buscar...">
    <button mat-icon-button matSuffix aria-label="Buscar">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="nav-buttons">
    

    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon> Inicio
    </button>
    <button mat-button routerLink="/about">
      <mat-icon>info</mat-icon> Acerca de
    </button>
    <button mat-button routerLink="/contact">
      <mat-icon>mail</mat-icon> Contacto
    </button>
  </div>

  <button mat-icon-button aria-label="Cuenta" routerLink="/login">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar> -->

<!-- <mat-toolbar color="primary" class="full-width-toolbar">
  <span class="app-title">JKC_Inventory</span>
  <span class="spacer"></span>

  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" placeholder="Escribe para buscar...">
    <button mat-icon-button matSuffix aria-label="Buscar">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->

  <!-- <div class="nav-buttons">
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon> Inicio
    </button>
    <button mat-button routerLink="/about">
      <mat-icon>info</mat-icon> Acerca de
    </button>
    <button mat-button routerLink="/contact">
      <mat-icon>mail</mat-icon> Contacto
    </button> -->
    <!-- <button mat-icon-button aria-label="Cuenta" routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button> -->
  <!-- </div>

  <button mat-icon-button aria-label="Cuenta" routerLink="/login">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar> -->
