<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header bg-dark text-white text-center">
        <h2 class="mb-0">Registro de Categorías</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Nombre Categoría</label>
              <input type="text" class="form-control" formControlName="nomCategoria">
            </div>
            <div class="col">
              <label class="form-label">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>
            <div class="col">
              <label class="form-label">Estado</label>
              <select class="form-control" formControlName="estado">
                <option [value]="true">ACTIVO</option>
                <option [value]="false">INACTIVO</option>
              </select>
            </div>
          </div>

          <div class="text-end">
            <button class="btn btn-primary me-2" type="submit">
              {{ editando ? 'Actualizar' : 'Registrar' }}
            </button>
            <button *ngIf="editando" class="btn btn-secondary" type="button" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <hr>

    <app-tabla-categorias
      [categorias]="categorias"
      (editarCategoria)="editarCategoria($event)"
      (eliminarCategoria)="eliminarCategoria($event)">
    </app-tabla-categorias>
  </div>
</div>
